.contacts{
    height: 718px;
    background-color: #1f3138;
}

.contacts_body{
    h3{
        font-family: 'Athelas';
        font-size: 64px;
    }
    text-align: center;
    width: 570px;
}
.contacts_form{
    
}