div.contacts
     div.contacts_body
         h3 Contact us
         p Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
         form(action="").contacts_form
            input(type="text")
            input(type="text")
            input(type="text")
            input(type="text")
         form(action="")
            input(type="email", name="")
            textarea(name="", cols="30", rows="10")