nav
    ul
        li
            a(href="http://")
        li
            a(href="http://")
        li
            a(href="http://")
        li
            a(href="http://")
        li
            a(href="http://")
        li