nav
    ul.menu
        li
            a(href="index.html").active
                span Home
        li
            a(href="index.html")
                span About
        li
            a(href="index.html")
                span services
        li
            a(href="index.html")
                span testimonails
        li
            a(href="index.html")
                span portfolio
        li
            a(href="index.html")
                span contacts