section.about
    h2 OUR TEAM LEADERS
    div.about-text  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis delectus placeat quae similique at ullam eligendi voluptatibus. Necessitatibus ex voluptatibus saepe qui sapiente, soluta minima ipsa eius aut! Quia, pariatur!
    div.about-block
        div.block-team
            img.block-1(src="/img/leader.jpg", alt="")
            h4.block-title Hugo Silva
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et atque laudantium maiores velit tempore cum repudiandae ipsa quas natus ipsam dignissimos qui tempora impedit, animi facere eligendi, labore veniam perspiciatis?
        div.block-team
            img.block-2(src="/img/leader.jpg", alt="")
            h4.block-title Imanol Arias
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et atque laudantium maiores velit tempore cum repudiandae ipsa quas natus ipsam dignissimos qui tempora impedit, animi facere eligendi, labore veniam perspiciatis?
        div.block-team
            img.block-3(src="/img/leader.jpg", alt="")
            h4.block-title Javier Bardem
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et atque laudantium maiores velit tempore cum repudiandae ipsa quas natus ipsam dignissimos qui tempora impedit, animi facere eligendi, labore veniam perspiciatis?