div.advantages_body
    div.advantages_content
        div.advantages_info 
            h5.advantages_title 2500
            p hapy clients
        div.advantages_info 
            h5.advantages_title 3000
            p full notebooks
        div.advantages_info 
            h5.advantages_title 120
            p teammates
        div.advantages_info 
            h5.advantages_title 30
            p stories

