@font-face {font-family: "Vani"; src: url("//db.onlinewebfonts.com/t/756871f756ee24c7029aafdad4cbdc62.eot"); 
    src: url("//db.onlinewebfonts.com/t/756871f756ee24c7029aafdad4cbdc62.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/756871f756ee24c7029aafdad4cbdc62.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/756871f756ee24c7029aafdad4cbdc62.woff") format("woff"), url("//db.onlinewebfonts.com/t/756871f756ee24c7029aafdad4cbdc62.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/756871f756ee24c7029aafdad4cbdc62.svg#Vani") format("svg"); }
@import "_reset-src.scss";
@import "header/header";
@import"title/title";
@import"about/about";
@import"advantages/advantages";

body{
    background-color: #fff;
    height: 100%;
}