.fototer_body{
    height: 190px;
    width: 100%;
    background-color: #1f3138;
    border: 1px solid white;
}

.fotter_top{
 border: 2px solid red;
 width: 100%;
}

.footer_bottom{
    height: 45px;
    background-color: black;
}

.footer__copyright{
}

.footer__contacs{
}