footer.fototer_body
    div.fotter_top
        div.fotter_top__info
    div.footer_bottom
        div.footer__copyright
            p Copyright © 2019 . Your companyname  All rights reserved
        div.footer__contacs
            ul
                li
                    a(href="")
                        i.fa.fa-google-plus.fa-lg
                li
                    a(href="")
                        i.fa.fa-facebook.fa-lg
                li
                    a(href="")
                        i.fa.fa-twitter.fa-lg
                li
                    a(href="")
                        i.fa.fa-instagram.fa-lg