footer.fototer_body
    div.fotter_top
        div.fotter_top__info
    div.footer_bottom
        div.footer__copyright
            p Copyright © 2019 . Your companyname  All rights reserved
        div.footer__contacts
            ul.footer__contacts
                li
                    a(href="")
                        i.fa.fa-google-plus
                li
                    a(href="")
                        i.fa.fa-twitter
                li
                    a(href="")
                        i.fa.fa-instagram
                li
                    a(href="")
                        i.fa.fa-facebook